body {
  margin: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.container {
  border: 2px solid gray;
  background-color: black;
}

.wrapper {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: 80px 80px 80px 80px;
}

#formula {
  text-align: right;
  padding: 2px;
  font-family: 'Space Mono', monospace;
}

#display {
  text-align: right;
  padding: 2px;
  font-family: 'Space Mono', monospace;
  font-size: 1.5em;
}

button {
  padding: 15px;
  color: white;
  border: 2px solid black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
}

button:hover {
  color: black;
  border: 2px solid white;
}

#clear {
  grid-column: 1 / span 2;
}

#equals {
  grid-column: 4;
  grid-row: 4 / 6;
}

#zero {
  grid-column: 1 / span 2;
}

/* Coloring buttons */
#divide, #multiply, #subtract, #add {
  background-color: gray;
}

#decimal, #zero, #one, #two, #three, #four, #five, #six, #seven, #eight, #nine {
  background-color: rgb(75, 75, 75);
}

#clear {
  background-color: rgb(255, 86, 86);
}

#equals {
  background-color: rgb(77, 77, 207);
}